.delete-conteiner {
  background-color: white;
  border: none;
  border-radius: 16px;
  padding: 20px;
  position: relative;
  flex-direction: column;
  max-height: 90vh;
  width: 650px;
}

.wrapTB {
  display: flex;
  margin: 0;
  align-items: center;
  text-align: center;
  position: relative;
}

.title {
  font-family: "Aileron", sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  align-items: center;
  margin: 0 auto;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.462);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50px;
}

.sure {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 25px;
  margin: 15px 0 0 0;
  align-items: center;
  text-align: center;
}
